/* .articles {
  margin: 1rem 3rem;
  width: 60%;
}
.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.articles {
  display: flex;
  flex-wrap: wrap;
}

.articles a + a {
  margin-left: 2rem;
}
.articles a h4 {
  color: #b30130;
  font-size: 2rem;
  padding: 0;
}
.articles a.active h4 {
  border-bottom: #b30130 3px solid;
}
.articles h4 {
  /* text-align: center; */
/* padding-bottom: 1rem; */
/* border-bottom: #b30130 3px solid; */
/* } */
/* .global-feed {
  margin-top: 2rem;
  margin-right: 2rem;
  border: #b30130 3px solid;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 1rem;
  padding: 2rem;
  width: 33%;
}
.global-feed:hover {
  background-color: rgb(202, 158, 158);
}
a {
  text-decoration: none;
}

.article-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.article-desc a {
  color: #b30130;
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: capitalize;
}
.article-desc h3 {
  margin: 0;
  line-height: 1.1;
}
.article-desc date {
  color: black;
  font-size: 0.6rem;
  margin: 0;
}
.img {
  margin-right: 1rem;
}
.img img {
  width: 3rem;
  vertical-align: middle;
  border-radius: 50%;
}
.article-more h3 {
  font-size: 1.2rem;
  word-break: break-all;
  margin: 0;
  margin-top: 1rem;
  text-transform: capitalize;
}
.article-more h3 a:hover {
  color: #b30130;
}
.article-more p {
  color: black;
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem;
  word-break: break-all;
}
.article-more a {
  color: black;
} */
