.editor {
  padding: 2rem;
}
.editor form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
}

.editor input {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
  border: solid 2px grey;
}
.editor textarea {
  width: 100%;
  font-size: 1.8em;
  padding: 2rem;
  border: solid 2px grey;
}
.publish {
  border: 2px solid white;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: green;
  color: white;
  padding: 0.6rem 0.9rem;
  border-radius: 0.5rem;
}
