.form {
  text-align: center;
}
.form input {
  display: block;
  margin: 1rem auto;
  border: #5cb85c solid 2px;
  padding: 0.8rem 4.5rem;
  font-size: 1.5rem;
}
.form a {
  color: #5cb85c;
  font-size: 1.2rem;
}
.form h3 {
  font-size: 2rem;
}
.form button {
  background-color: #5cb85c;
  padding: 0.8rem 2.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: white;
}
